**Home Work Solution**

In [18]:
#import the dependancie 
import pandas as pd 
from sqlalchemy import create_engine 
from time import time

In [19]:
#import the two csv files
# Load the first 100 rows
df1 = pd.read_csv('green_tripdata_2019-10.csv', nrows=100)


df1.dtypes

VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
congestion_surcharge     float64
dtype: object

In [20]:
df2 = pd.read_csv('taxi_zone_lookup.csv', nrows=100)

# Display the loaded DataFrame
df2.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [21]:
#Establish connection to DB
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [22]:
#define the schemas for the db

#convert this to the schema for the database which postgress will recognise
print(pd.io.sql.get_schema(df1, name="taxi_zone_lookup.csv", con=engine))

CREATE TABLE "taxi_zone_lookup.csv" (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [23]:
print(pd.io.sql.get_schema(df2, name="green_tripdata_2019-10.csv", con=engine))

CREATE TABLE "green_tripdata_2019-10.csv" (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [24]:
# We need to batch the Upload now 
df_iter = pd.read_csv('taxi_zone_lookup.csv', iterator = True, chunksize=100000)
df = next(df_iter)

In [25]:
# we need to create the table in the database
df.head(n=0)
df.head(n=0).to_sql(name='taxi_zone_look_up', con = engine, if_exists='replace')

0

In [ ]:
# We need to batch the Upload now 
df_iter = pd.read_csv('taxi_zone_lookup.csv', iterator = True, chunksize=100000)
df = next(df_iter)

In [ ]:
#upload data to the database
t0 = time()
while True:
    df.to_sql('taxi_zone_lookup', engine, if_exists='append')
    print('Records Uploaded')
    print(time()-t0)

Records Uploaded
29.37397074699402
Records Uploaded
59.164255142211914
Records Uploaded
94.27821946144104
Records Uploaded
128.35995960235596
Records Uploaded
163.6284737586975
Records Uploaded
198.78789234161377
Records Uploaded
301.83687448501587
Records Uploaded
364.44664478302
Records Uploaded
440.31737542152405
Records Uploaded
548.6215372085571
Records Uploaded
649.0274102687836
Records Uploaded
757.3488824367523
Records Uploaded
790.7632176876068
Records Uploaded
829.3238244056702
Records Uploaded
951.8200297355652
Records Uploaded
1009.8238065242767
Records Uploaded
1043.341697216034
Records Uploaded
1125.8989810943604
Records Uploaded
1225.0418541431427
Records Uploaded
1327.0640678405762
Records Uploaded
1424.621188402176
Records Uploaded
1555.0024373531342
Records Uploaded
1662.386967420578
Records Uploaded
1739.306812286377
Records Uploaded
1825.4224262237549
Records Uploaded
1893.472707748413
Records Uploaded
1966.7654132843018
Records Uploaded
2035.577776670456
Records Uploaded
2108.9297275543213
Records Uploaded
2184.2025396823883
Records Uploaded
2253.0446722507477
Records Uploaded
2321.8718597888947
Records Uploaded
2393.9571781158447
Records Uploaded
2464.7220571041107
Records Uploaded
2530.4585387706757
Records Uploaded
2598.867638349533
Records Uploaded
2683.1430966854095
Records Uploaded
2767.6630532741547
Records Uploaded
2843.209102869034
Records Uploaded
2916.3375232219696
Records Uploaded
2990.137535095215
Records Uploaded
3060.424992799759
Records Uploaded
3136.8318541049957
Records Uploaded
3205.16593170166
Records Uploaded
3285.212641954422
Records Uploaded
3353.0274629592896
Records Uploaded
3416.1389203071594
Records Uploaded
3492.4694516658783
Records Uploaded
3568.7178654670715
Records Uploaded
3635.6900820732117
Records Uploaded
3705.1543350219727
Records Uploaded
3773.3137509822845
Records Uploaded
3851.9142904281616
Records Uploaded
3921.678065299988
Records Uploaded
3989.5454194545746
Records Uploaded
4059.7340381145477
Records Uploaded
4130.715595006943
Records Uploaded
4216.282493114471
Records Uploaded
4286.926148414612
Records Uploaded
4355.765283584595
Records Uploaded
4434.157847881317
Records Uploaded
4500.774529218674
Records Uploaded
4564.7972683906555
Records Uploaded
4633.836065292358
Records Uploaded
4714.440757751465
Records Uploaded
4789.674496889114
Records Uploaded
4862.380978107452
Records Uploaded
4930.6165244579315
Records Uploaded
4998.4046103954315
Records Uploaded
5076.09468960762
Records Uploaded
5142.493542909622
Records Uploaded
5209.967447042465
Records Uploaded
5278.652897119522
Records Uploaded
5356.87616610527
Records Uploaded
5425.6955687999725
Records Uploaded
5493.536719560623
Records Uploaded
5562.851026296616
Records Uploaded
5630.12216758728
Records Uploaded
5698.563769340515
Records Uploaded
5764.612554073334
Records Uploaded
5830.616644859314
Records Uploaded
5894.376253604889
Records Uploaded
5964.560757160187
Records Uploaded
6030.275547742844
Records Uploaded
6097.209284067154
Records Uploaded
6163.782586812973
Records Uploaded
6228.996402978897
Records Uploaded
6302.978804588318
Records Uploaded
6370.545014381409
Records Uploaded
6439.30220580101
Records Uploaded
6507.063347578049
Records Uploaded
6589.236645460129
Records Uploaded
6654.65838432312
Records Uploaded
6735.910033226013
Records Uploaded
6803.7744772434235
Records Uploaded
6874.968209266663
Records Uploaded
6945.543958902359
Records Uploaded
7013.720032691956
Records Uploaded
7081.584247112274
Records Uploaded
7149.398234844208
Records Uploaded
7225.010338306427
Records Uploaded
7291.490930557251
Records Uploaded
7358.0998442173
Records Uploaded
7425.919885158539
Records Uploaded
7512.151206254959
Records Uploaded
7590.091975927353
Records Uploaded
7664.238151073456
Records Uploaded
7740.428076982498
Records Uploaded
7810.880612373352
Records Uploaded
7892.848499774933
Records Uploaded
7958.903176307678
Records Uploaded
8023.555975437164
Records Uploaded
8093.812132120132
Records Uploaded
8163.813547372818
Records Uploaded
8233.297586202621
Records Uploaded
8300.627431154251
Records Uploaded
8378.191716432571
Records Uploaded
8446.391019821167
Records Uploaded
8553.483840703964
Records Uploaded
8654.658125400543
Records Uploaded
8762.976743936539
Records Uploaded
8867.709670066833
Records Uploaded
8978.981757879257
Records Uploaded
9081.87180018425
Records Uploaded
9189.60984826088
Records Uploaded
9298.372056484222
Records Uploaded
9408.082969665527
Records Uploaded
9515.21610879898
Records Uploaded
9610.324092149734
Records Uploaded
9711.09471487999
Records Uploaded
9827.830709218979
Records Uploaded
10006.180147409439
Records Uploaded
10156.969440698624
Records Uploaded
10308.525751829147

In [29]:
# We need to batch the Upload now 
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator = True, chunksize=100000)
df = next(df_iter)

In [37]:

df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'], errors='coerce')
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'], errors='coerce')  
df.dtypes

VendorID                        float64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag              float64
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [39]:
#to create the schema we only need the column names and the data types associated with them. 
df.head(n=0)
df.head(n=0).to_sql(name='green_tripdata', con = engine, if_exists='replace')

0

In [47]:
# We need to batch the Upload now 
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator = True, chunksize=100000)
df = next(df_iter)

df.dtypes

VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [44]:

df.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                        int64
PULocationID                      int64
DOLocationID                      int64
passenger_count                   int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      int64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [53]:
# convert the data types to the correct format
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'], errors='coerce')
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'], errors='coerce')